<div class="row" *ngIf="DataReal">
  <div class="col-md-6 col-md-offset-3">
    <p class="count-question">{{quiznow}}/{{quizmax}}</p>
    <div class="timer">
      <p id="timeQuiz">{{ minute
        < 10? '0'+minute:minute }}.{{ second < 10? '0'+second:second }} Minute</p>
    </div>
  </div>
  <ng-container *ngFor="let quiz of DataReal;let i = index">
    <ng-container *ngIf="quiznow == i+1">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          <img *ngIf="quiz.img" [src]="baseUrlimg2 +'/'+quiz.img" alt="" width="80%">
        </div>
        <hr>
        <p class="question">
          &nbsp;&nbsp;{{ quiz.question }}
        </p>
      </div>
    </ng-container>
    <ng-container *ngIf="quiznow == i+1">
      <div class="col-md-6 col-md-offset-3">
        <ng-container *ngFor="let quizs of quiz.Answers ;let k = index">
          <div class="col-md-6">
            <div class="body-box shadow-show-box anwser-box" [ngClass]="[classchoose[k]]" (click)="OnclickChoose(quiz.q_id,quizs.a_id)">
              <p class="anwser">
                <i class="material-icons">{{iconchoose[k]}}</i> {{ quizs.answer }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>
<br>
<br>
<br>
