.text-uppercase{
    font-size: 50px;
}
.margin-top{
    margin-top: 200px;
}
@media screen and (max-width:505px){
    .margin-top{
        margin-top: 50px;
    }
}
.dec{
    color: #858585;
    font-size: 14px;
    
}
.text-uppercase{
    color: aliceblue;
}