<div class="row font-color">
    <div class="col-md-4 col-md-offset-4">
      <div class="body-box shadow-show-box text-center text-uppercase">
        <div id="waing-code">
          <h2 class="uppercase">your score</h2>
        </div>
        <div class="col-md-12">
            <div class="circle shadow-show-box">
                <p>10/10</p>
            </div>
        </div>
        <div><button class="btn text-uppercase btn-primary" [routerLink]="['/',Url.StudentProfile]">Go to profile</button></div>
      </div>
    </div>
  </div>
  