<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table-desktop">
          <thead>
            <tr>
              <th>Username</th>
              <th>Firstname</th>
              <th class="moblie-table-hidden">Lastname</th>
              <th class="moblie-table-hidden">Faculty</th>
              <th class="moblie-table-hidden">Branch </th>
              <th class="moblie-table-hidden">Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5611405545</td>
              <td>paramat</td>
              <td class="moblie-table-hidden">singkon</td>
              <td class="moblie-table-hidden">science</td>
              <td class="moblie-table-hidden">computer science</td>
              <td class="moblie-table-hidden">student</td>
              <td class="col-action">
                <div class="moblie-table-hidden">
                  <button class="btn btn-danger btn-sm">
                    <i class="material-icons action-icon">clear</i> {{ 'Remove' | lang }}
                  </button>
                </div>
                <div class="moblie-desktop-hidden">
                  <div class="dropdown">
                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                      <i class="material-icons">settings_applications</i>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#">
                          <i class="material-icons action-icon">clear</i> {{ 'Remove' | lang }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <hr>
      </div>
    </div>
  </div>
</div>
