<canvas class='connecting-dots'></canvas>
<div class="d-flex justify-content-center fixd_top">
  <div class="col-md-2 top-padding">
    <form [formGroup]="FromLogin" (submit)="OnSubmit()">
      <div class="logo d-flex justify-content-center">
        <img src="assets\img\unnamed.png" width="80px" height="80px;">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="{{ 'Username' | lang}}" formControlName="username">
        <validation [control]="FromLogin.controls['username']"></validation>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="{{ 'Password' | lang}}" formControlName="password">
        <validation [control]="FromLogin.controls['password']"></validation>
      </div>
      <button type="submit" class="btn btn-primary" style="width:100%;">
        <i class="material-icons">input</i> {{ 'Login' | lang}}</button>
    </form>
  </div>
</div>
<div class="d-flex justify-content-center fixd_botton">
  <div style="color:#fff;" align="center">
    <label>
      <a [ngClass]="['btn',BtnThai]" (click)="ActiveCheckLang('TH')">Thailand</a> |
      <a [ngClass]="['btn',BtnEng]" (click)="ActiveCheckLang('EN')">English</a>
    </label>
    <br>
    <label>Play more, anywhere and anytime, on your own or with friends.</label>
    <br>
    <label>Create your own quickquiz for FREE at quickquiz.com</label>
    <br>
  </div>
</div>
