
<ng-progress 
[positionUsing]="'marginLeft'" 
[speed]="200" 
[showSpinner]="false" 
[direction]="'leftToRightIncreased'"
[color]="'green'" 
[trickleSpeed]="250" 
[thick]="false" 
[ease]="'linear'"
></ng-progress>
<div class="loading" style="display:block;">
    <div class="col-md-12 center">
          <img src="assets\img\Rolling.gif" alt="">
          <h3 id="TextLoading">Loading...</h3>
    </div>
</div>
<app-navbar *ngIf="NavberAdmin"></app-navbar>
<app-sidebar *ngIf="NavberAdmin"></app-sidebar>
<app-navbar-student *ngIf="NavberStudent"></app-navbar-student>
<div class="container-fulid" (click)="OnHiddenSidebar()">
    <router-outlet (activate)="onGetComponent($event)"></router-outlet>
</div>
