<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <button class="btn btn-primary btn-sm" (click)="OpenModelCreateCode = true">
      <i class="material-icons">add_circle_outline</i> {{ 'Add Quick Quiz' | lang}}
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-right">
    <form>
      <div class="col-md-2 col-md-offset-9">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username search...">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
            <table class="table-desktop" *ngIf="Data">
                <thead>
                  <tr>
                    <th>ชื่อ Quiz</th>
                    <th>จำนวนในการ Quiz</th>
                    <th>Code quiz</th>
                    <th class="moblie-table-hidden">จำนวนข้อทั้งหมด</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let Datas of Data">
                    <td>{{Datas.quick_name}}</td>
                    <td>{{Datas.count_quiz}}</td>
                    <td>{{Datas.code}}</td>
                    <td class="moblie-table-hidden">{{Datas.count_quiz}}</td>
                    <td class="col-action">
                      <div class="moblie-table-hidden">
                        <a *ngIf="Datas.count_quiz > 0"  class=" btn btn-info btn-sm" (click)="OnOpenReport(Datas)">
                          <i class="material-icons action-icon">help</i> {{ 'Report' | lang }}
                        </a>
                        <a class=" btn btn-success btn-sm" (click)="OnOpenQuestion(Datas)">
                          <i class="material-icons action-icon">help</i> {{ 'Add Question' | lang }}
                        </a>
                        <a class=" btn btn-danger btn-sm" (click)="OnRemove(Datas.code_id)">
                          <i class="material-icons action-icon">clear</i> {{ 'Remove' | lang }}
                        </a>
                      </div>
                      <div class="moblie-desktop-hidden">
                        <div class="dropdown">
                          <a class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">settings_applications</i>
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <a (click)="OnShow()">
                                <i class="material-icons action-icon">info</i> {{ 'Show' | lang }}
                              </a>
                            </li>
                            <li>
                              <a (click)="OnReset()">
                                <i class="material-icons action-icon">replay</i> {{ 'Reset' | lang }}
                              </a>
                            </li>
                            <li>
                              <a (click)="OnRemove()">
                                <i class="material-icons action-icon">clear</i> {{ 'Remove' | lang }}
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
<app-modal-create-code *ngIf="OpenModelCreateCode" (modalChange)="OncloseMode($event)" [modal]="OpenModelCreateCode" (Data)="OutPutData($event)"></app-modal-create-code>
<app-modal-create-question *ngIf="OpenModelCreateQuestion&&DataQuestion" (modalChange)="OncloseMode($event)" [modal]="OpenModelCreateQuestion" [Data]="DataQuestion"></app-modal-create-question>
<app-report-quiz *ngIf="OpenModelReport&&DataReport" (modalChange)="OncloseMode($event)" [modal]="OpenModelReport" [Data]="DataReport"></app-report-quiz>