<div class="row">
  <div class="col-md-12">
    <ng-container *ngIf="OpenAddUser">
      <app-modal-add-user [(modal)]="OpenAddUser" (Refresh)="OnRefresh($event)"></app-modal-add-user>
    </ng-container>
    <button class="btn btn-primary btn-sm" (click)="OnOpenModalAdduser()">
      <i class="material-icons">add_circle_outline</i> {{ 'Add user' | lang }}
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-right">
    <form>
      <div class="col-md-2 col-md-offset-10">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username search...">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table-desktop">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>Firstname</th>
              <th class="moblie-table-hidden">Lastname</th>
              <th class="moblie-table-hidden">Verify</th>
              <th class="moblie-table-hidden">User type</th>
              <th class="moblie-table-hidden">Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let UserAllDatas of UserAllData">
              <td>{{ UserAllDatas.user_id }}</td>
              <td>{{ UserAllDatas.Username }}</td>
              <td>{{ UserAllDatas.Firstname == null?'Wait verify':UserAllDatas.Firstname  }}</td>
              <td class="moblie-table-hidden">{{ UserAllDatas.Lastname == null?'Wait verify':UserAllDatas.Lastname }}</td>
              <td class="moblie-table-hidden">{{ UserAllDatas.Verify }}</td>
              <td class="moblie-table-hidden">{{ UserAllDatas.UserType }}</td>
              <td class="moblie-table-hidden">{{ UserAllDatas.Status }}</td>
              <td class="col-action">
                <div class="moblie-table-hidden">
                  <button class="btn btn-info btn-sm" *ngIf="UserAllDatas.Verify" (click)="OnShow(UserAllDatas.Username,UserAllDatas.user_id)">
                    <i class="material-icons action-icon">info</i> {{ 'Show' | lang }}
                  </button>
                  <button class="btn btn-sm" *ngIf="UserAllDatas.Verify" (click)="OnReset(UserAllDatas.Username,UserAllDatas.user_id)" >
                    <i class="material-icons action-icon">replay</i> {{ 'Reset' | lang }}
                  </button>
                  <button class="btn btn-warning btn-sm" *ngIf="UserAllDatas.Verify" 
                  (click)="OnBlock(UserAllDatas.Username,UserAllDatas.user_id,UserAllDatas.Status=='block'? 0:1)" >
                    <i class="material-icons action-icon">block</i> {{ UserAllDatas.Status=='block'? 'Unblock':'Block' | lang }}
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="OnRemove(UserAllDatas.Username,UserAllDatas.user_id)" >
                    <i class="material-icons action-icon">clear</i> {{ 'Remove' | lang }}
                  </button>
                </div>
                <div class="moblie-desktop-hidden">
                  <div class="dropdown">
                    <a class="btn dropdown-toggle" data-toggle="dropdown">
                      <i class="material-icons">settings_applications</i>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a (click)="OnShow(UserAllDatas.Username,UserAllDatas.user_id)" *ngIf="UserAllDatas.Verify">
                          <i class="material-icons action-icon">info</i> {{ 'Show' | lang }}
                        </a>
                      </li>
                      <li>
                        <a (click)="OnReset(UserAllDatas.Username,UserAllDatas.user_id)" *ngIf="UserAllDatas.Verify">
                          <i class="material-icons action-icon">replay</i> {{ 'Reset' | lang }}
                        </a>
                      </li>
                      <li>
                        <a (click)="OnBlock(UserAllDatas.Username,UserAllDatas.user_id,UserAllDatas.Status=='block'? 0:1)" *ngIf="UserAllDatas.Verify">
                          <i class="material-icons action-icon">block</i> {{ UserAllDatas.Status=='block'? 'Unblock':'Block' | lang }}
                        </a>
                      </li>
                      <li>
                        <a (click)="OnRemove(UserAllDatas.Username,UserAllDatas.user_id)">
                          <i class="material-icons action-icon">clear</i> {{ 'Remove' | lang }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <hr>
      </div>
    </div>
  </div>
</div>
