<div class="card hovercard" *ngIf="profile" style="margin:0px;padding:0px;">
  <ng-container *ngIf="profile.UserType == 'student'">
    <div class="cardheader-student"></div>
  </ng-container>
  <ng-container *ngIf="profile.UserType == 'teacher'">
    <div class="cardheader-teacher"></div>
  </ng-container>
  <ng-container *ngIf="profile.UserType == 'admin'">
    <div class="cardheader-admin"></div>
  </ng-container>
  <div class="avatar">
    <img alt="" src="{{ image }}">
  </div>
  <div class="info">
    <div class="title">
      <a>{{ profile.Firstname }} {{ profile.Lastname }}</a>
    </div>
    <div class="desc" *ngIf="profile.University">{{ profile.University }}</div>
    <div class="desc">Username : {{ profile.Username }}</div>
  </div>
</div>
