<div class="card hovercard" *ngIf="profile" style="margin:0px;padding:0px;">
  <ng-container *ngIf="profile.UserType == 'student'">
    <div class="cardheader"></div>
  </ng-container>
  <ng-container *ngIf="profile.UserType != 'student'">
    <div class="cardheader2"></div>
  </ng-container>
  <div class="avatar">
    <img alt="" src="{{ image }}">
  </div>
  <div class="info">
    <div class="title">
      <a>{{ profile.Firstname }} {{ profile.Lastname }}</a>
    </div>
    <div class="desc">{{ profile.University }}</div>
    <div class="desc">{{ profile.Faculty }}</div>
    <div class="desc">{{ profile.Branch }}</div>
    <div class="desc">Username : {{ profile.Username }}</div>
    <div class="desc">User Type : {{ profile.UserType }}</div>
  </div>
</div>
