<div class="modal fade" id="add-user-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-primary">
        <button type="button" class="close" data-dismiss="modal" (click)="Onclose()">&times;</button>
        <h4 class="modal-title">
          <i class="material-icons">add_circle_outline</i> {{ 'Add user'|lang }}</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="FormAddUser" (submit)="OnSubmit()">
          <div class="form-group">
            <label>{{ 'Username'|lang}}:</label>
            <input type="text" class="form-control" placeholder="{{ 'Username'|lang}}" formControlName="Username">
            <validation [control]="FormAddUser.controls['Username']"></validation>
          </div>
          <div class="form-group">
            <label>{{'Password'|lang}}:</label>
            <input type="password" class="form-control" (blur)="onComparePassword(Password, CPassword)" placeholder="{{'Password'|lang}}" id="Password" #Password formControlName="Password" >
            <validation [control]="FormAddUser.controls['Password']"></validation>
          </div>
          <div class="form-group">
            <label>{{'Confirm password'|lang}}:</label>
            <input type="password" class="form-control" (blur)="onComparePassword(Password, CPassword)" placeholder="{{'Confirm password'|lang}}" id="CPassword" #CPassword formControlName="CPassword">
            <validation [control]="FormAddUser.controls['CPassword']"></validation>
          </div>
          <div class="form-group">
            <label for="sel1">{{ 'User status'|lang }}:</label>
            <select class="form-control" formControlName="UserType">
              <option value="2">{{ 'Student' | lang }}</option>
              <option value="3">{{ 'Teacher' | lang }}</option>
            </select>
            <validation [control]="FormAddUser.controls['UserType']"></validation>
          </div>
          <hr>
          <div class="text-right">
            <button class="btn btn-success" type="submit">{{ 'Submit'|lang }}</button>
            <button class="btn" data-dismiss="modal" >{{ 'Close' | lang }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
