.sidebar{
    position: absolute;
    position: fixed;
    color:#ffffff;
    top: 60px;
    left: 0px;
    background-color: #041d37;
    height: 100%;
    width: 300px;
    box-shadow: 2px 5px 5px #000000;
    transition: all 0.5s;
    z-index: 5;
}
.sidebar-hidden{
    left: -310px;
    transition: all 0.2s;
}
.Menu{
    cursor: pointer;
    transition: all 0.2s;
}
.Menu:hover{
    transition: all 0.5s;
    background-color: #133253;
}
.Menu-active{
    background-color: #133253;
}
.Menu-sub{
    font-size:18px; 
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.scoll-bar{
    max-height: 550px;
	overflow-y: scroll;
}
@media screen and (max-width:558px) {
    .scoll-bar{
        max-height: 250px;
    }
  }

  #style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: none;
}

#style-1::-webkit-scrollbar
{
	width: 5px;
	background-color:none;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}