<div class="col-md-6 col-md-offset-3 text-center">
  <div class="margin-top">
    <div>
      <img src="assets\img\unnamed.png" width="100" height="100">
    </div>
    <label class="text-uppercase">QuickQuiz</label>
    <p class="header-title">{{ 'Wellcome'|lang }} {{ User.firstname }} {{ User.lastname }}</p>
    <hr>
    <p class="dec">
      <i class="material-icons">menu</i> {{ 'Button open menu' |lang }}
      <i class="material-icons">clear</i> {{ 'Button close menu' | lang }}
      <i class="material-icons">g_translate</i> {{ 'Button change language'|lang }}
      <i class="material-icons sd-hidden">label</i> {{ 'Your status' | lang }}
      <i class="material-icons sd-hidden">lock_open</i> {{ 'Button log out' |lang}}
    </p>
  </div>
</div>
