.border-line-left {
  border-left: 2px solid red;
}

.scoll-bar {
  position: relative;
  height: 550px;
  overflow-y: scroll;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: none;
}

#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: none;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}
.list-btn:hover{
    cursor: pointer;
    background-color: #c0c0c0;
}
.btn-kick{
    float:right;
    color: #0000ff;
}
.btn-kick:hover{
    cursor: pointer;
    color: #8080ff;
}
.bg-fixd{
    z-index: 50;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #00ae00;
}
.center {
    z-index: 60;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}