<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1>Start Quiz</h1>
      </div>
      <div class="panel-body">
        <div class="col-md-6 col-sm-6">
          <h4 class="text-uppercase">
            <i class="material-icons">code</i> List code</h4>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Filter code quiz...">
          </div>
          <div *ngIf="Codelist">
            <h3 class="text-center" *ngIf="Codelist.length == 0">No codes</h3>
            <ul class="list-group" *ngIf="Codelist.length > 0">
              <li class="list-group-item list-btn" *ngFor="let Codelists of Codelist" (click)="GetDataUserOnline(Codelists.code)">
                {{Codelists.code}}
                <span style="float:right;">
                  show room
                  <i class="material-icons">navigate_next</i>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 border-line-left">
          <div>
            <h4 class="text-uppercase">
              <i class="material-icons">room</i> Room Quiz</h4>
            <div class="scoll-bar">
              <div class="bg-fixd" *ngIf="Locked"></div>
              <div class="center" *ngIf="Locked">
                <span>
                  <i class="material-icons">lock</i> Locked</span>
              </div>
              <div *ngIf="UserOnline">
                <h4 class="text-center">{{Code}}</h4>
                <ul class="list-group" *ngIf="UserOnline.length > 0">
                  <li class="list-group-item" *ngFor="let UserOnlines of UserOnline">
                    {{UserOnlines.firstname }} {{UserOnlines.lastname }}
                  </li>
                </ul>
                <h3 class="text-center" *ngIf="UserOnline.length == 0">No student</h3>
              </div>
            </div>
            <div align="right">
              <div>
                <hr>
              </div>
              <button class="btn btn-danger" (click)="OnLocked()">
                <ng-container *ngIf="Locked">
                  <i class="material-icons">lock_open</i> UnLock room
                </ng-container>
                <ng-container *ngIf="!Locked">
                  <i class="material-icons">lock</i> Lock room
                </ng-container>
              </button>
              <button class="btn btn-success" (click)="OnStartQuiz()">
                <i class="material-icons">done</i> Let's Start</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
